# Add files here to ignore them from prettier formatting
coverage.json
**/artifacts/**
**/cache/**
**/dist/**
**/coverage/**
**/deployments/**
**/deployments/**
**/fixtures/**
**/generated/**
**/lib/**
**/mock/**
**/src/types/**